body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow: hidden;
    font-size: 11pt;
}

* {
    box-sizing: border-box;
}

#categorySelect {
    margin: 5px;
}

#contents {
    --calcite-shell-panel-min-width: 340px;
}

#viewDiv {
    flex: 1;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
    outline: initial !important;
}

.map,
.map-container {
    height: 100%;
    width: 100%;
}

.search-here {
    position: absolute;
    top: 20px;
    z-index: 1000;
    width: 100%;
    left: 60%;
}