body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow: hidden;
    font-size: 11pt;
}

* {
    box-sizing: border-box;
}

#categorySelect {
    margin: 5px;
}

#contents {
    --calcite-shell-panel-min-width: 340px;
}

#viewDiv {
    flex: 1;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}